body {
    font-family: 'Poppins', sans-serif;
}


/* Hearder background */

.header-container {
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 677px;
}


/* nav bar  */

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    Width: 1050px;
    height: 44px;
    background-color: aqua;
}


/* style for unorder list */

.nav-container ul {
    display: flex;
}


/* right sight button */

.nav-container ul li {
    color: #FFFFFF;
    list-style: none;
    padding-right: 20px;
}

.nav-container ul li a {
    text-decoration: none;
}


/* Header button */

.login-button {
    width: 123px;
}

.login-button a {
    text-decoration: none;
}

.login-button .log-button {
    margin-right: 10px;
}


/* Header */

.banner-container {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}


/* Header text container style with hover */

.banner-container-info {
    height: 230px;
    width: 485px;
    margin-top: 143px;
}

.banner-container-info h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
}


/* transition apply */


/* Header banner image  */

.banner-container img {
    width: 556.01px;
    height: 438px;
    margin-top: 67px;
}

.header-container:hover .banner-image {
    transform: scale(1.11);
    transition: transform 1s ease-in-out .1s;
}


/* Header Watch button style */

.color-button {
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    margin-top: 27px;
}

.color-button .log-button2 {
    margin-left: 10px;
}


/*--------///------ section(player container) --------////-------------///
    -------------////--------*/


/* Player container area */

.player {
    width: 330px;
    height: 474px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* player image optimize */

.player-image img {
    width: 300px;
    height: 256px;
}


/* Grid apply */

.players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.player-info {
    width: 300px;
}


/* section-3 Highlights&doc */

.highlights {
    display: flex;
    margin-top: 165px;
    align-items: center;
    flex-direction: column;
}

.highlights-details {
    display: flex;
    align-items: center;
}

.highlights-img img {
    width: 527px;
    height: 427px;
    margin-left: 69px;
}

.highlights-info {
    width: 466px;
    height: 241px;
}

.highlights-info h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.highlights-info p {
    font-size: 16px;
}


/* video */

.f-video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 45deg, #e4e4e4, transparent);
    height: 500px;
}

.highlights-1 {
    display: flex;
    align-items: center;
}

.f-video .highlight-info-1 {
    width: 466px;
    height: 233px;
    border: 15px solid #2a6e92;
    position: relative;
    padding-right: 22px;
    position: relative;
    left: 33px;
    bottom: 93px;
    border-radius: 15px;
    z-index: 1;
}

.f-video .highlight-video {
    z-index: 2;
}

.youtube-fram {
    width: 500px;
    height: 350px;
}


/* footer(copyright symble apply) */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image img {
    width: 483.87px;
    height: 110px;
}


/* ----------
    --Media queries ---------/////---
    -----------*/


/* Mobile Device*/

@media only screen and (max-width:688px) {
    .nav-container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .nav-container ul li {
        padding-right: 0px;
    }
    .banner-container {
        flex-direction: column;
        align-items: center;
    }
    .banner-container-info {
        height: 138px;
        width: 278px;
        margin-top: 46.12px;
    }
    .banner-container-info h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
    }
    .banner-container .banner-image {
        width: 329px;
        height: 259px;
        margin-top: 50px;
    }
    .banner-container img {
        width: 329px;
        height: 280px;
    }
    .color-button {
        margin-top: 40px;
    }
    .top-player {
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights {
        margin-top: 60px;
    }
    .highlights-details {
        flex-direction: column;
    }
    .highlights-info {
        width: 329px;
        height: 299px;
    }
    .highlights-info h1 {
        font-size: 30px;
    }
    .highlights-info p {
        font-size: 16px;
    }
    .highlights-img img {
        width: 328px;
        height: 248px;
        margin-left: 0px;
    }
    .highlights-1 {
        flex-direction: column;
    }
    .f-video .highlight-info-1 {
        width: 280px;
        height: 151px;
        border: 3px solid #2a6e92;
        position: relative;
        padding-right: -5px;
        position: relative;
        left: 15px;
        bottom: -32px;
        border-radius: 12px;
        z-index: 1;
    }
    .f-video .highlight-info-1 h1 {
        font-size: 16px;
    }
    .f-video .highlight-info-1 p {
        font-size: 9px;
    }
    .f-video {
        width: 100%;
    }
    .youtube-fram {
        width: 300px;
        height: 200px;
    }
    .footer-image img {
        width: 275px;
        height: 63px;
    }
    .footer {
        margin-top: 54px;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .color-button {
        margin: 0px;
    }
    .nav-container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .header-container {
        height: 500px;
    }
    .banner-container {
        align-items: center;
    }
    .banner-container-info {
        height: 138px;
        width: 278px;
        margin-top: 46.12px;
    }
    .banner-container-info h1 {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
    }
    .banner-container .banner-image {
        width: 329px;
        height: 259px;
        margin-top: 50px;
    }
    .banner-container img {
        width: 329px;
        height: 280px;
    }
    .top-player {
        grid-template-columns: repeat(2, 1fr);
    }
    .highlights {
        margin-top: 60px;
        justify-content: center;
    }
    .highlights-info {
        width: 329px;
        height: 299px;
    }
    .highlights-info h1 {
        font-size: 30px;
    }
    .highlights-info p {
        font-size: 16px;
    }
    .highlights-img img {
        width: 328px;
        height: 248px;
        margin-left: 0px;
    }
    .f-video .highlight-info-1 {
        width: 280px;
        height: 151px;
        border: 3px solid #2a6e92;
        position: relative;
        padding-right: -5px;
        position: relative;
        left: 15px;
        bottom: -32px;
        border-radius: 12px;
        z-index: 1;
    }
    .f-video .highlight-info-1 h1 {
        font-size: 16px;
    }
    .f-video .highlight-info-1 p {
        font-size: 9px;
    }
    .f-video {
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: linear-gradient( 45deg, #2a4858, transparent);
        height: 237px;
    }
    .youtube-fram {
        width: 300px;
        height: 200px;
    }
    .footer-image img {
        width: 275px;
        height: 63px;
    }
    .footer {
        margin-top: 54px;
    }
}